#logging
Logger.ApplicationName=ESAPI
Logger.LogLevel=WARNING
Logger.LogEncodingRequired=false
Logger.LogFileName=/Library/JSS/Logs/esapi.log
Logger.LogServerIP=true
Logger.MaxLogFileSize=10000000

# Content-Type header
ResponseContentType=text/html; charset=UTF-8

# Algorithms
CharacterEncoding=UTF-8

ESAPI.AccessControl=org.owasp.esapi.reference.DefaultAccessController
ESAPI.Authenticator=org.owasp.esapi.reference.FileBasedAuthenticator
ESAPI.Encoder=org.owasp.esapi.reference.DefaultEncoder
ESAPI.Encryptor=org.owasp.esapi.reference.crypto.JavaEncryptor
ESAPI.Logger=org.owasp.esapi.reference.Log4JLogFactory

Validator.ConfigurationFile=validation.properties
