hibernate.dialect=org.hibernate.dialect.MySQLDialect
hibernate.generate_statistics=false
hibernate.jdbc.batch_size=200
hibernate.order_inserts=true
hibernate.order_updates=true
hibernate.show_sql={{getv "/hibernate/show/sql" "false"}}
hibernate.session.events.log={{getv "/hibernate/session/log" "false"}}